<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="wxai">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import wxai urdf file -->
    <xacro:include filename="$(find trossen_arm_description)/urdf/wxai.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="wxai.ros2_control.xacro" />


    <xacro:wxai_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
